@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color:#f1f1f1;
  
}

body .page{
    margin: 20px 80px;
    
    
}

/* Barre de navigation */

nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color:#475B5A;
  position: sticky;
  top: 0;
  color : #f1f1f1;
}
nav h1{
  font-size: 20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets a{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
/* Fin de la barre de navigation */


.page{
    height : 450px;
}



/* Pied de page */
footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  /*padding: 5px;*/
  text-align:center;
  width: 20px;
  cursor:pointer;
  font-size:20px;
}
/* Fin du pied de page */
