{% block stylesheet %}

{% endblock %}

{% block script %}

{% endblock %}

{% block body %}
    
<a href="?c=index&t=index"> Retour à la page d'accueil</a>
<a href="?c=user&t=login"> Reconnectez-vous !</a>
     
{% endblock %}
 