
{% block stylesheet %}
    <link type="text/css"  href="views/forms.css" rel="stylesheet" >
    
{% endblock %}

{% block script %}
    <script src="https://kit.fontawesome.com/2a2e68ce16.js" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}
    
    <div class="iconBack">
        <a href="?c=index&t=index"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <form action="?c=user&t=add" method="POST">
        <h1>SIGN UP</h1>
        <div class="icon">
            <i class="fas fa-user-circle"></i>
        </div>
        {% if alertAccount  == true %}   <!-- Si le compte existe déja  -->
            <p class=alert>Username existe déjà !</p>
        {% endif %}
        <div class="formcontainer">
            <label><span>Genre</span></label>
            <select name="genre" required>
                <option value="">--Veuillez choisir votre genre--</option>
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
                <option value="Autre">Autre</option>
            </select>
            <label><span>Username</span></label>
            <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>
            <label><span>E-mail</span></label>
            <input type="email" placeholder="Entrer votre adresse mail" name="email" required>
            <label><span>Password</span></label>
            <input type="password" placeholder="Entrer votre mot de passe" name="password" required>
            <button type="submit"><strong>SIGN UP</strong></button>
        </div>
    </form>
    
    
     
 {% endblock %}
 