{% extends "base.html" %}

{% block body %}

<h1> : </h1>

<div id="app">
    
    <button name="emotion" v-for="emotion in emotions" v-on:click="findGenre(emotion.idGenres)"><span v-html=emotion.emoji></span> <% emotion.nom %></button><br>
</div>  


{% endblock %}
{% block script %}
<script type="application/javascript">
    //verifier si jquery fonctionne
    $(document).ready(function(value){
        console.log("Page chargée ");
        console.log({{ result|raw }});
    });
    var app = new Vue({
        el: '#app',
        delimiters: ["<%", "%>"],
        data : {
            emotions: {{ result|raw }}
        },
        methods : {
            del: function(){
                app.genres.splice(5,1);
            },
            findGenre: function(ids) {
              //var ids={ids:ids};
              console.log("Genre IDS : ",ids); 
              var data = new FormData();
              data.append( "json", JSON.stringify( ids ) );
              fetch("http://195.154.118.169/hugo/html/projet/?c=movie&t=getMovieGenres" , {
                    method: 'post',
                    body: data
                })
                    .then(function(res){
                       console.log("Réponse",res.json());
                       //res.json().then(function(data){
                           //app.genres=data.genres;
                           //console.log("Genres",data.genres);
                    });
            
                   
            },
            read: function(){
                console.log("read");
                fetch("http://195.154.118.169/hugo/html/projet/?c=movie&t=getMovieGenres", {
                    method: 'post',
                    body: JSON.stringify(ids)
                    
                })
                    .then(function(res){
                       //console.log(("Réponse",res.json()));
                       res.json().then(function(data){
                           app.genres=data.genres;
                           console.log("Genres",data.genres);
                       });
                    })
                   
            }
        }
        
        
        
    })
    
</script>
{%endblock%}